
<h3>{{person.first_name}} {{person.last_name}}</h3>

<form name="personEditForm" ng-submit="submit()" novalidate>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" ng-model="person.first_name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" ng-model="person.last_name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea ng-model="person.notes" class="form-control">{{person.notes}}</textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
  <a href="/persons" class="btn">Cancel</a>
</form>
