<p>
  <a href="/persons/new" class="btn btn-primary btn-xs btn-new">New Person</a>
</p>

<table class="table">
  <tbody>
    <tr ng-repeat="person in listCtrl.persons | orderBy:'-created_at':true">
      <td><a href="/persons/{{person.id}}">{{person.first_name}} {{person.last_name}}</a></td>
      <td><span class="glyphicon glyphicon-remove btn-remove" ng-click="remove(person)"></span></td>
    </tr>
  </tbody>
</table>
