
<h2>{{person.first_name}} {{person.last_name}}</h2>
<p>{{person.notes}}</p>
<a href="/persons/{{person.id}}/edit" class="btn btn-primary btn-xs btn-new">Edit</a>
<a href="/persons" class="btn btn-primary btn-xs btn-list">List</a>
