
<h3>{{project.title}}</h3>

<form name="projectEditForm" ng-submit="submit()" novalidate>
  <div class="form-group">
    <label>Title</label>
    <input type="text" ng-model="project.title" class="form-control" />
  </div>
  <div class="form-group">
    <label>Add Cast or Crew Member</label>
    <select>
      <option ng-repeat="person in persons">{{person.first_name}} {{person.last_name}}</option>
    </select>
    <select>
      <option value="ACTOR">Actor</option>
      <option value="DIRECTOR">Director</option>
    </select>
    <button class="btn btn-xs">Add</button>
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea ng-model="project.notes" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
  <a href="/projects" class="btn">Cancel</a>
</form>
