<p>
  <a href="/projects/new" class="btn btn-primary btn-xs btn-new">New Project</a>
</p>

<table class="table">
  <tbody>
    <tr ng-repeat="project in listCtrl.projects | orderBy:'-created_at':true">
      <td><a href="/projects/{{project.id}}">{{project.title}}</a></td>
      <td>{{project.address}}<span ng-show="!!project.address.length">,</span> {{project.city}}</td>
      <td><span class="glyphicon glyphicon-remove btn-remove" ng-click="remove(project)"></span></td>
    </tr>
  </tbody>
</table>
