
<h2>{{project.title}}</h2>
<p>{{project.notes}}</p>
<a href="/projects/{{project.id}}/edit" class="btn btn-primary btn-xs btn-new">Edit</a>
<a href="/projects" class="btn btn-primary btn-xs btn-list">List</a>
